#test {
    background-color: #141414;
    color : #fff ;
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
        justify-content: center;
        justify-items: center;
        height: 100vh;
        overflow-y: scroll;
    }

    div {
        position: relative;
        // overflow: hidden;
        width: 50%;
        aspect-ratio: 1;
        border: solid lime;
        background-color: rgb(1, 1, 40);

        article {
            position: absolute;
            background-color: green;
            inset: 20px;
        }
    }
}