---
import Layout from '../layouts/Layout.astro';
import AstreSpatiaux from "../components/spaceAstral/astresSpatiaux.astro"

import { Navbar } from "../components/navbar/navbar"

// import WormHole from '../components/worm_hole/wormHole.astro';
import WormHoleV2 from '../components/worm_hole_v2/wormHoleV2.astro';
import MyInfoState from "../components/my_info_state/myInfoState.astro"

import { Universe } from "../components/universe"

import ProjectInformations from '../components/informationCards/projectInformations.astro';

---

<Layout title="Cheick's Portfolio">

	<main>
		<!-- <Universe mode="exploration" client:load>
			<AstreSpatiaux /> 
		</Universe> -->
		
		<Universe mode='accessibility' client:load>
			<WormHoleV2 />
		</Universe>
		
		<Universe mode='information' client:load>	
			<MyInfoState />
		</Universe>

		<ProjectInformations />

	</main>

</Layout>