#black-hole{
    position: absolute;
    z-index: 1;
    inset: 0;
    overflow: hidden;
}

#singularity {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #d5d5d5;
    width: 4px;
    filter: blur(3px);
    transition: all 200ms;
}

@keyframes singularity {
    from { 
        width: 4px;
        background-color: #d5d5d5;
    }
    to { 
        width: 120%;
        // background-color: #d5d5d57c;
        // background-color: #000;
        background-color: #010510;
    }  
    
}