---
import type { only } from "node:test";
import { BlackHole } from "./black_hole"
import { MessageWindow } from "../message_window/message_window";
---

<style>
    canvas{
        overflow: hidden;
    }
</style>

<BlackHole client:only />

<MessageWindow msg='Hello I am Cheick, software engineer, here are some things that I have built.' 
	delay={500} 
	client:load
>
    <button><h3>Explore</h3></button>
    <button><h3>Jump to Wormholes</h3></button>

</MessageWindow>